[Unit]
Description=Minetest Media server

[Service]
User=httpd
Type=simple
Restart=always
WorkingDirectory=/var/empty
ExecStart=/usr/local/bin/mtmediasrv

[Install]
WantedBy=multi-user.target
